* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

h1, h2, h3 {
    color: #1B1B1B;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

span {
    color: #E95E10;
    font-size: 16px;
    font-weight: bold;
}

body {
    background-color: #F5F4F0;
}

#main-container {
    margin: 88px auto 65px;
    width: 1120px;
}


